<!-- all home content  -->
<main class="secBg">
    <div class="container">
        <div class="paragraph d-flex justify-content-center align-items-center flex-column p-5">
            <h1 class="fontColor">
                Find & track the best
                <span class="text-primary">free-to-play</span> games!
            </h1>
            <p class="font2Color fw-light">
                Track what you've played and search for what to play next! Plus get free
                premium loot!
            </p>
        </div>
        <!-- Recommend games -->
        <div class="recommend p-3">
            <h3 class="font2Color">
                <i class="fa-solid fa-gamepad text-primary pe-4"></i>Recommend For You
            </h3>
            <app-recommend></app-recommend>
        </div>
        <!-- most play games  -->
        <div class="mostplay p-3">
            <h3 class="font2Color">
                <i class="fa-solid fa-dragon text-primary pe-4"></i>Most Play
            </h3>
            <app-most-play></app-most-play>
        </div>
    </div>
</main>