owl-carousel-o {
    img {
        padding: 4px;
    }
}
.rec-games {
    .layout {
        background: rgb(4, 1, 6);
        background: linear-gradient(17deg, rgba(4, 1, 6, 1) 0%, transparent 100%);
    }
}